/* Estilos de todo o código */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFFAFA;
}

.tituloPagina{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 180%;
    padding-left: 7%;
}

/* Estilos do Header */

.cabecalho {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 5%;
    padding-left: 6%;
}

header {
    background-color: cadetblue;
    color: #182502;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
}

#marca {
    display: flex;
    color: #100838;
}

#logo {
    width: 90px;
    height: 90px;
}

#nomeSite {
    margin-top: 20%;
}

#pesquisa {
    height: 30px;
    border-radius: 10px;
    margin-top: 30px;
}

.home{
    padding: 20px;
    text-align: center;
}

/* Estilos do Menu lateral */

nav.menu-lateral {
    width: 6%;
    height: 100%;
    background-color: cadetblue;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #080225;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir {
    width: 250px;
}

.botao-expandir {
    width: 100%;
    padding-left: 10px;
}

.botao-expandir>i {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.menuItens {
    transition: .2s;
}

ul li.ativo {
    background-color: #080225;
}

ul li.menuItens:hover {
    background: #080225;
}

ul li.menuItens a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.menuItens a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.menuItens a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

/* Estilo componente Inicio */

#subtitulo{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 140%;
    padding-left: 7%;
}

.descricaoInicio{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 100%;
    margin-bottom: 20px;
}
.content-inicio {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 4%;
}
.texto-inicio {
    text-align: left;
    max-width: 500px;
}

.imagem-inicio{
    height: 30%;
    width: 20%;
}

main {
    flex: 1;
    padding: 20px;
    color: #100838;
}

/* Estilo componente Livros */
.caixas {
    padding-left: 8%;
    display: flex;
    margin: 2%
}
.capas{
    height: 20%;
    width: 10%;
    border-style: solid;
}

.Titulo {
    margin: 1%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 140%;
}


.descricao {
    margin: 1%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 100%;
    width: 100%;
}

/* Estilos componentes conteudo artigo */
.inicioArtigo{
    display: flex;
}

.container{
    background-color: #080225;
    padding: 1%; 
    border-radius:50px ;
    color: #fff;
    width: 80%;
    height: 4%;
    margin-top: 8%;
}
.container1{
    background-color: #080225;
    padding: 5px; 
    border-radius:40px ;
    color: #fff;
    width: 90%;
    margin-top: 5%;
}
.container2{
    background-color: #080225;
    padding: 5px; 
    border-radius:40px ;
    color: #fff;
    width: 30%;
    margin-top: 3%
}

.artigos{
    padding-left: 7%;
}
.imagemArtigo1{
    height: 15%;
    width: 20%;
}
.imagemArtigo2{
    float: right;
    height: 15%;
    width: 20%;
}

#tituloPagina{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 180%;
}

.a-titles{
        margin-left: 2px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
}

.subtituloArtigo{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

.paragrafos{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 100%;
    width: 100%;
    margin-top: 1%;
}

/* Estilos Footer */

footer {
    clear: both;
    color: #fff;
    bottom: 0px;
    width: 100%;
    background-color: #080225;
    padding-left: 6%;
}

.main-content {
    display: flex;

}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;

}

.box h2 {
    font-size: 20px;
    font-weight: 600;

}

.box .content {
    margin: 20px 0 0 0;
}

.social-content {
    flex-basis: 50%;
    padding: 10px 20px
}

.icon {
    color: #fff;
}